@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

body {
  margin: 0;
}

#navbar {
  padding-top: 12px;
  padding-bottom: 15px;
  border-bottom: 1px solid #47525E;
  text-align: center;
}

.header-logo-text {
  font-size: 3.5rem;
  font-family: 'Bungee Shade', cursive;
  font-weight: bold;
}
