@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Roboto&display=swap');

body {
  margin: 0;
  background-color: #80D1D1;
}

#navbar {
  padding-top: 12px;
  padding-bottom: 15px;
  border-bottom: 1px solid #47525E;
  text-align: center;
  background-color: white;
}

.header-logo-text {
  font-size: 3.5rem;
  font-family: 'Bungee Shade', cursive;
  font-weight: bold;
}

.game-ui-container {
  margin: 25px auto;
  padding: 10px;
  width: 600px;
}

.player-card-container {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.player-card {
  flex: 0 0 auto;
  width: 100px;
  text-align: center;
}

.player-card span {
  display: block;
  font-family: Roboto, monospace;
}

.player-move-icon {
  font-size: 4rem;
  margin-bottom: 10px;
}

.player-name,
.player-score {
  font-size: 1.5rem;
}

.weapon-choose-text {
  text-align: center;
  color: black;
  font-size: 1.5rem;
  margin-top: 25px;
}
